.App{
    overflow-x: hidden;
}
.con1
{
    overflow-x: hidden;
    background-color: #6213b0;
}
.nv
{
    text-decoration: none;
    color:azure;
    padding-left: 20px;
}
.nv:hover
{
    color:azure;
    text-decoration: underline;
}
.jmBox{
    background-color: #b97af8;
}
.footer
{
    background-color:#d5b1f8
}